.home {
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background:
        linear-gradient(to right,
            rgba(214, 102, 176, 0.8),
            rgba(83, 0, 56, 0.8)),
        $primary-color;

    &__name {
        font-size: 4rem;
        font-weight: 400;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid set-text-color($primary-color);

        &--last {
            color: $secondary-color;
            font-weight: 700;
        }
    }
}