// A SASS PARTIAL IS A FILE THAT CONTAINS CSS CODE THAT IS MEANT TO BE INCLUDED IN OTHER FILES.
// You create one by naming the file with an underscore at the beginning of the file name.
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}